<div class="page-header row">
<%= image_tag "farmer_periodical.png", :alt => "John Dickinson's 'Letter from a Pennsylvania Farmer", class: "home-image" %>
  <h2 class="col-md-8 page-heading"><%= t('lapidus_reperta') %></h2>
</div>

<div id="Lapidus_text">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
<%# This is the same panel shown in the Rails welcome template %>
<!-- <div id="about">
  <h3 class='section-heading'><a href="/rails/info/properties">About your application&rsquo;s environment</a></h3>
  <div id="about-content" class="well" style="display: none"></div>
</div>

<script>
  $(function() {
    $('#about a').on('click', function(e) {
      e.preventDefault();

      if ($('#about-content').html() == "") {
        $('#about-content').load($(this).attr("href"), function() {
          $('#about-content').show();
        });
      } else {
        $('#about-content').toggle();
      }
    });
  });
</script> -->