// application.scss
$navbar-height: 80px;
$navbar-inverse-bg: #faebd7;
$body-bg: #f0dac8;
$body-font-family: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif;

@import 'blacklight';
@import 'lapidus';
